

        <div class="row">
            <div class="span12">
                <form class="form-horizontal" >
                    <fieldset>
                        <div id="legend">
                            <legend class="">Login</legend>
                        </div>
                        <div class="control-group">
                            <!-- Username -->
                            <label class="control-label"  for="username">Username</label>
                            <div class="controls">
                                <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="password">Password</label>
                            <div class="controls">
                                <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-success" id="submit">Login</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>


<script   type="text/javascript">
    $(document).ready(function()
    {
        $('#mesaj').hide();
        $("#personelNo").focus(function()
        {
            $('#mesaj').hide();

        });
        $("#submit").click(function()
        {
            var username = $('#username').val();
            var passeord = $('#password').val();

            //var form_data=$('form :input').serialize();
            var form_data= {
                "username": $("#username").val(),
                "password": $("#password").val(),
            };
            alert(JSON.stringify(form_data));

            $.ajax(
                {
                    url : "/login",
                    type : 'POST',
                    dataType : 'json',
                    contentType: 'application/json',
                    data:JSON.stringify(form_data),
                    /*beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },*/
                    //data : form_data,
                    success : function(data)
                    {

                        if (data['sonuc']=='1')
                        {
                            //window.location = '/dashboard';
                            alert ("Authenticated");

                        }
                        else
                        {
                            alert("invalid credentials");
                        }

                    },
                    error : function()
                    {
                        alert("Hata meydana geldi. Lütfen tekrar deneyiniz !!!");
                    }
                });

            return false;
        });

    });
</script>
