
<!DOCTYPE html>
<head>
    <title>Insecure Web Application</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css">
    <link rel="stylesheet" href="css/Bicim.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">


</head>
<body >

<div class="well" style="background-color:#563D7C; color: #FFFFFF; margin-left: 0px; border-left-width: 2px;
        border-left-color: #191906; border-right-width: 2px; border-right-color: #191906">

    <h2 style="text-align: left">Insecure Web Application</h2>
    <p class="lead"></p>
</div>

<div class="container" id="container">
    <div class="col-md-12">
        <div class="panel-heading" ><h3><strong>Error Page</strong></h3>
        </div>
        <div class="panel-body" align="justify" id="response" >
            unauthorized access
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>
